### Docker Environment

# Application
APP_NAME=postgres
APP_ENVIRONMENT=dev
APP_DOMAIN=${APP_NAME}_${APP_ENVIRONMENT}.local

# version to be installed
POSTGRES_MAJOR_VERSION=16
POSTGIS_MAJOR_VERSION=3
POSTGIS_MINOR_RELEASE=4

# ports exposed locally
POSTGRES_ON_HOST=54321

# database credentials
POSTGRES_DB=app1
POSTGRES_USER=pg_user
POSTGRES_PASSWORD=secret

