### Docker Environment

# Application
APP_NAME=abc_app
APP_ENVIRONMENT=dev
APP_DOMAIN=${APP_NAME}_${APP_ENVIRONMENT}.local
CODE_REPO_URL=

# version to be installed
PYTHON_VERSION=3.9
REDIS_VERSION=latest
NGINX_VERSION=stable
POSTGRES_MAJOR_VERSION=16
POSTGIS_MAJOR_VERSION=3
POSTGIS_MINOR_RELEASE=4

# ports exposed locally
HTTP_ON_HOST=8001
HTTPS_ON_HOST=44301
POSTGRES_ON_HOST=54321
REDIS_ON_HOST=6379

# database credentials
POSTGRES_DB=django_db
POSTGRES_USER=django
POSTGRES_PASSWORD=secret

